@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-display: 'Inter', system-ui, sans-serif;
  }

  * {
    @apply border-neutral-200;
  }

  body {
    @apply bg-neutral-50 text-neutral-900;
  }
}

