[build]
  command = "cd ../.. && pnpm install && pnpm build --filter=@kzn-youth-choir/public-site"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "18"

